

@media screen  and (min-device-width: 200px) and (max-device-width:500px){


    /*    移动端 home*/


    #home{

        width: 99vw;
        height: 99vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;


    }
    #home-head{
        flex: 0 0 11rem;
        background: #ffffff;

        display: flex;
        align-items: center;
        /*box-shadow: -2px 8px 3px -5px rgba(35, 34, 27, 0.5);*/
        z-index: 1;
        position: relative; /* 需要添加position:relative属性来启用z-index */

    }

    #home-main{
        flex: 1 1 15rem;
        /*background: black;;*/
        background: #f1f1f2;
        height: 99vh;
    }

    #home-user{
        border-radius: 60rem;
        margin-left: 3rem;
        flex: 0 0 10rem;
        display: flex;
        align-items: center;
        height: 15rem;
        overflow: hidden;
    }

    #home-user>img{
        width: 9rem;
        height: 9rem;
        border-radius: 60rem;
    }


    #home-search-font{
        flex: 0 0 13rem;
        height: 10rem;
        display: flex;
        margin-right: 3rem;
        font-size: 5rem;
        text-align: center;
        align-items: center;
        color: #0264e7;
        transition: color 0.2s ease;
    }

    #home-search-font:active{
        color: white;
    }

    /*    main组件*/


    #home-main-qr{
        height: 100%;
        flex: 1 1 0;
        background: #f1f1f2;
    }
    #home-main-chat{
        height: 100%;
        flex: 1 1 0;
        background: #f1f1f2;
    }
    #home-main-manager{
        height: 100%;
        flex: 1 1 0;
        background: #f1f1f2;
    }


    @keyframes flyInR {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .fly-inR {
        animation: flyInR 1s forwards;
    }
    @keyframes flyInL {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .fly-inL {
        animation: flyInL 1s forwards;
    }

    /*!*    下边*!*/
    #home-bottom{
        margin-top: 1rem;
        flex: 0 0 11rem;

        height: 13rem;


        z-index: 99;
    }


    /*    视频元素*/









}

