@media screen  and (min-device-width: 200px) and (max-device-width:500px) {

    #user-video-uploder{
        width: 100%;
        /*background: #0bc15f;*/
    }

    #upload-video{
        background: #f7f8fa;
        width: 40rem;
        height: 23rem;
        border-radius: 1.8rem;
        display: flex;
        align-items: center;
        margin: 2rem 2rem;
        overflow: hidden;
        position: relative;

    }

    #view-user-unfold-tag{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        font-family: HYKaiti;
        margin-left: 4rem;
    }

    #video-card{

        display: flex;
    }

    .preview-cover {
        position: absolute;

        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 4px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        transition: color 0.3s ease;
    }
    .preview-cover:active{
        color:  #1989fa;
    }
    #video-card-body{
        /*overflow: hidden;*/
        position: relative;

    }




    .dome {
        display: flex;
        justify-content: space-between;
        padding-left: 22px;
    }
    .cropper {
        width: 80px;
        height: 80px;
        line-height: 80px;
        /* 切记position: relative一定要有 */
        position: relative;
        border-radius: 80px;
        overflow: hidden;
        text-align: center;
    }
    .img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

}