@media screen  and (min-device-width: 200px) and (max-device-width:5000px) {


    #view-user{
        display: flex;
        flex-direction: column;
        width: 100%; /* 设置容器宽度 */
        height: auto; /* 设置容器高度 */
        /*overflow-y: auto; !* 确保垂直滚动条 *!*/

    }

    #view-user-body{
        display: flex;
        flex-direction: column;
        height: auto;
        background: white;

    }
    #view-user-brief{
        /*background: blue;*/
        flex: 0 0 15rem;
        display: flex;
        align-items: center;
        padding-left: 3rem;
    }
    #view-user-unfold{
        /*background: yellow;*/
    }
    #view-user-brief-image{
        width: 10rem;
        height: 10rem;
        margin: 2rem 2rem;
    }
    #view-user-like{
        /*margin-top: 1rem;*/
        flex: 0 0 15rem;
        /*background: #ec7fff;*/

        display: flex;

    }

    #view-user-body-user{
        margin-left: 2rem;

        flex: 0 1 60rem;
        display: flex;
        flex-direction: column;
    }
    .user-name{
        font-size: 4rem;
        flex: 0 0 6rem;
        color: black;
    }
    .user-massage{
        font-size: 2rem;
        height: 6rem;
        display: flex;
    }
    .user-placeholding{
        flex: 1 1 1rem;
    }
    .user-massage-item2{
        color: #c8c9cc;
        margin-left: 1rem;
        font-size: 3rem;
    }
    .user-massage-item{
        color: #c8c9cc;
        font-size: 3rem;
    }

    #view-user-unfold-attribute{
        display: flex;

    }
    .view-user-unfold-title{
        font-size: 4.7rem;
    }
    .view-user-unfold-attribute-item{
        margin: 1rem 1rem;
        font-size: 3.3rem;
        /*color: #e9e9eb;*/
        color: #c8c9cc;

    }

    #view-user-unfold-tag{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        font-family: HYKaiti;
    }
    .view-user-unfold-tag-item{
        margin: 1rem 1rem;


    }

    .view-user-like-item{
        align-items: center;
        display: flex;
        flex: 0 0 20rem;
        /*background: yellow;*/
        flex-direction: column;
        font-size: 3rem;

        padding-top: 2rem;
        transition: background-color 0.3s ease; /* 添加过渡效果 */

    }
    .view-user-like-item:active{
        background: #e9e9eb;
    }

    .view-user-like-item-font{
        color: #c8c9cc;
    }
    #view-user-like-item-buttonNoLike{
        transform: scaleX(-1);
        /* 保持垂直方向的缩放比例 */
        transform: scaleY(-1);
    }
}